<template>
  <div class="edit">
    <img alt="Vue logo" src="../assets/logo.png" />
    <ToDoEdit />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ToDoEdit from '../components/ToDoEdit.vue'

@Component({
  components: {
    ToDoEdit
  },
  props: ['id']
})
export default class Home extends Vue {}
</script>
