<template>
  <div>
    <span v-if="error">{{ error }}</span>
    <h1>My To-Do App!</h1>
    <to-do-form @added="addTodoItem" button-text="Add Todo Item" />
    <h2>ToDo List</h2>
    <ul>
      <li v-for="(item, index) in data" v-bind:key="index">
        <span>id: {{ item.id }} </span>
        <span>{{ item.name }}</span>
        <span>date: {{ item.date }}</span>
        <button @click="removeTodo(item.id)">Remove</button>
        <button @click="updateTodo(item.id)">Update</button>
      </li>
    </ul>
    <h4 v-if="todoItems.length === 0">Empty list.</h4>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TodoItem from '../interface/TodoItem'
import ToDoForm from './ToDoForm.vue'
import todoApi from '@/common/todoAPIClient'
import {
  GetAllTodosAPIResponsePayload,
  TodoDataAPIResponsePayload
} from '@/interface/todoAPIClient.interface'

@Component({
  components: {
    'to-do-form': ToDoForm
  }
})
export default class ToDo extends Vue {
  public error: unknown

  public data: TodoItem[] | [] = []

  public getAllTodoItems = async (): Promise<void> => {
    const todos: GetAllTodosAPIResponsePayload = await todoApi.getAllTodos()

    if (todos.data) this.data = todos.data
    if (todos.error) this.error = todos.error
  }

  public addTodoItem = async (name: string): Promise<TodoItem | undefined> => {
    const todo: TodoDataAPIResponsePayload = await todoApi.createTodos(name)
    if (!todo) {
      this.error = 'Cannot update data'
      return
    }
    return todo.data
  }

  public deleteTodoItem = async (id: number): Promise<TodoItem | undefined> => {
    const todo: TodoDataAPIResponsePayload = await todoApi.deleteTodoById(id)
    if (!todo) {
      this.error = 'Cannot update data'
      return
    }
    return todo.data
  }

  public updateTodoItem = (id: number): void => {
    console.log('Update !')
    this.$router.push(`/todo/${id}`)
  }

  beforeMount(): void {
    this.getAllTodoItems()
  }
}
</script>

<style lang="scss">
$border: 2px solid
  rgba(
    $color: white,
    $alpha: 0.35
  );
$size1: 6px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;
$backgroundColor: white;
$textColor: black;
$primaryColor: #a0a4d9;
$secondTextColor: #1f2023;
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textColor;
  #app {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    h1 {
      font-weight: bold;
      font-size: 28px;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      label {
        font-size: 14px;
        font-weight: bold;
      }
      input,
      button {
        height: $size5;
        box-shadow: none;
        outline: none;
        padding-left: $size2;
        padding-right: $size2;
        border-radius: $size1;
        font-size: 18px;
        margin-top: $size1;
        margin-bottom: $size2;
      }
      input {
        background-color: transparent;
        border: $border;
        color: inherit;
      }
    }
    button {
      cursor: pointer;
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
      color: $secondTextColor;
      font-weight: bold;
      outline: none;
      border-radius: $size1;
    }
    h2 {
      font-size: 22px;
      border-bottom: $border;
      padding-bottom: $size1;
    }
    ul {
      padding: 10px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: $border;
        padding: $size2 $size4;
        border-radius: $size1;
        margin-bottom: $size2;
        span {
          cursor: pointer;
        }
        .done {
          text-decoration: line-through;
        }
        button {
          font-size: $size2;
          padding: $size1;
        }
      }
    }
    h4 {
      text-align: center;
      opacity: 0.5;
      margin: 0;
    }
  }
}
</style>
