<template>
  <div>
    <span v-if="error">{{ error }}</span>
    <form @submit.prevent="emitTask">
      <label>Update Todo Item</label>
      <input type="text" placeholder="Enter task..." v-model="todoItem" />
      <button type="submit">{{ buttonText }}</button>
    </form>
  </div>
</template>
<script lang="ts">
import TodoItem from '@/interface/TodoItem'
import { Component, Vue, Prop } from 'vue-property-decorator'
import { TodoDataAPIResponsePayload } from '@/interface/todoAPIClient.interface'
import todoApi from '@/common/todoAPIClient'

@Component
export default class ToDoEdit extends Vue {
  @Prop({ type: String, default: 'Update ToDo Item' })
  public readonly buttonText!: string
  id = Number(this.$route.params.id)

  public error: unknown

  public data: TodoItem[] | [] = []

  public todoItem = ''

  public updateData = async (): Promise<void> => {
    await todoApi.updateTodoById(this.id, this.todoItem)

    this.todoItem = ''
    this.$router.push(`/`)
  }

  public getData = async (id: number): Promise<TodoItem | undefined> => {
    const todo: TodoDataAPIResponsePayload = await todoApi.getTodoById(id)
    if (!todo) {
      this.error = 'Cannot update data'
    }
    return todo.data
  }

  created(): void {
    this.getData(this.id)
  }
}
</script>
<style lang="scss"></style>
