<template>
  <form @submit.prevent="emitTask">
    <label>New Todo Item</label>
    <input type="text" placeholder="Enter task..." v-model="todoItem" />
    <button type="submit">{{ buttonText }}</button>
  </form>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class ToDoForm extends Vue {
  @Prop({ type: String, default: 'Add ToDo Item' })
  public readonly buttonText!: string

  public todoItem = ''

  public emitTask(): void {
    this.$emit('added', this.todoItem)
    this.todoItem = ''
  }
}
</script>
<style lang="scss"></style>
